modules = ["python-3.11", "web", "nodejs-20", "postgresql-16"]
run = "python app.py"

[nix]
channel = "stable-24_05"
packages = ["openssl", "postgresql"]

[deployment]
run = ["sh", "-c", "gunicorn main:app"]

[[ports]]
localPort = 5000
externalPort = 5000
